hora-actors/node_modules
hora-agents/node_modules
hora-engine/node_modules
hora-helpers/node_modules
hora-cli/node_modules
hora-models/node_modules
hora-flows/node_modules
hora-server/node_modules
bower_components
.env